body{
	margin: 0px;
	height: 100%;
}
.darkblue{
	background-color: #00688B;
}
.orange{
	background-color: orange;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.container{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}
.con{
	width: 100%;
}
.box{
	width: 100%;
	
}
@media screen and (min-width: 500px){
	.darkblue{
		width: 100%;
	}
	.blue{
		width: 100%;
	}
	.green{
		width: 100%;
	}
	.red{
		width: 100%;
	}
	.orange{
		width: 100%;
	}
}
@media screen and (min-width: 600px){
	.darkblue{
		width: 50%;
	}
	.con{
		width: 50%;
	}
	.red{
		width: 100%;
	}

	.orange{
		width: 75%;
	}
}
@media screen and (min-width: 800px){
	.darkblue{
		width: 25%;
		order: 1;
	}
	.con{
		width: 50%;

	}
	.red{
		width: 25%;
		order: -1;
	}
	
	.orange{
		width: 75%;
	}
	.container{
		margin-left: 20px;
		margin-right: 20px;
	}
}